@function find-shade($color) {
  $dark-color: $color;
  $light-color: $color;
  $dark-shades: ();
  $light-shades: ();

  @for $iteration from 1 to 10 {
    $dark-color: darken($dark-color, 10%);
    $light-color: lighten($light-color, 10%);
    @if $dark-color != black {
      $dark-shades: append($dark-shades, $dark-color);
    }
    @if $light-color != white {
      $light-shades: append($light-shades, $light-color);
    }

    $iteration: $iteration + 1;
  }

  $dark-shades: reverse($dark-shades);
  @return $dark-shades, ($color), $light-shades;
}

@function reverse($list) {
  $res: ();
  @if length($list) == 0 {
    @return $list;
  }
  @for $index from length($list) to 0 {
    $item: nth($list, $index);
    $res: append($res, $item);
  }
  @return $res;
}
